.block{
  margin-bottom: 5px;
}

hr { 
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
} 

.select-container {
  display: flex;
  align-items: center;
  padding-top: 2px;
  padding-bottom: 2px;

  &.first {
    padding-top: 7px;
  }
  .p-value {
    width: 100px;
  }
  .dropdown {
    max-width: 170px;
  }
  .input-field {
    min-width: 170px;
  }
}


.new-line {
  padding-bottom: 7px;
  &:first-child {
    padding-top: 3px;
  }
}

.note {
  display: block;
  margin-top: 7px;
}